<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notifikasi</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!notif">
    <img src="../../assets/imgs/loading.gif"><br>
    <img src="../../assets/imgs/loading.gif">
  </div>
  <div *ngIf="notif">
    <ion-list>
      <ion-item *ngFor="let n of notif" (click)="read(n.id)">
        <ion-label   class="ion-text-wrap" style="background-color: {{ n.status == null ? '#e3e4f8' : '#ffff' }} ;padding:5px;border-radius:5px;">
          <h2>{{n.notification_title}}</h2>
          <small>{{n.notification_date|date:'dd MMM, yyyy'}}</small>
          <p>{{n.notification_detail}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
