<ion-header>
  <ion-toolbar color="unilever">
    <ion-title>Lupa Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Kami akan mengirimkan informasi password Anda ke alamat email yang terdaftar bersama dengan Kode Outlet Anda.<br>
        <div class="input-group">
          <ion-item lines="none">
            <ion-input inputmode="num" placeholder="Kode Outlet Anda" [(ngModel)]="outlet_id" autocomplete="off" autofocus="true" clear-input="true"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="button" expand="block" fill="outline" [disabled]="!outlet_id" (click)="checkOutlet()">Kirim Email Reset Password</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
