<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title> Pilih Lokasi </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <input type="text" class="my-search-box" (keydown.enter)="$event.preventDefault()" placeholder="Cari Lokasi"
      #search />
  </div>
  <google-map  #myGoogleMap height="550px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
    (mapClick)="eventHandler($event,'mapClick')" (mapDblclick)="eventHandler($event,'mapDblclick')"
    (mapDrag)="eventHandler($event,'mapDrag')" (mapDragend)="eventHandler($event,'mapDragend')"
    (mapRightclick)="eventHandler($event,'mapRightclick')"
    (positionChanged)="eventHandler($event,'marker_positionChanged')"
    (zoomChanged)="eventHandler($event,'zoomChanged')">

    <map-marker #markerElem="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
      [label]="marker.label" [title]="marker.title" [options]="marker.options"
      (mapDrag)="eventHandler($event,'mapDragMarker')" (mapDragend)="eventHandler($event,'mapDragend')">
    </map-marker>

  </google-map>
  <ion-item>
    <ion-icon name="disc-outline" slot="start"></ion-icon>
    <ion-label>
      <h6 *ngIf="address">{{address}}</h6>
    </ion-label>
  </ion-item>

  <ion-button (click)="closeModal()" expand="block" color="unilever">
    Pilih
  </ion-button>
  <ion-button (click)="ModalBatal()" expand="block" color="danger">
    Batal
  </ion-button>
</ion-content>