<ion-header>
  <ion-toolbar color="unilever" class="head">
    <ion-buttons slot="start">
      <ion-back-button text="" color="light" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Reset IMEI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Untuk melakukan reset IMEI pada aplikasi Juragan, kami akan mengirimkan email berisi tautan khusus ke email Anda. Ikuti petunjuk pada email tersebut.
  </p>
  <p>
    Klik tombol dibawah bila Anda setuju.
  </p>
  <ion-button color="unilever" expand="block" (click)="showAlert()">
    Ya, kirimkan email
  </ion-button>
</ion-content>
