<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Akun
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Akun</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item button (click)="goTo('profile')">
      <ion-icon name="storefront-outline" slot="start"></ion-icon>
      <ion-label>Profil Toko</ion-label>
    </ion-item>

<!--MIRROR-->
    <!-- <ion-item button detail>
      <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
      <ion-label>Pemulihan Password</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-icon name="id-card-outline" slot="start"></ion-icon>
      <ion-label>Ganti Nomor HP</ion-label>
    </ion-item>
    <ion-item button  detail>
      <ion-icon name="medical-outline" slot="start"></ion-icon>
      <ion-label>Reset IMEI</ion-label>
    </ion-item> -->

<!--PRODUCTION-->
    <ion-item button (click)="goTo('password')" detail>
      <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
      <ion-label>Perubahan Password</ion-label>
    </ion-item>
    <ion-item button (click)="goTo('gantino')" detail>
      <ion-icon name="id-card-outline" slot="start"></ion-icon>
      <ion-label>Ganti Nomor HP</ion-label>
    </ion-item>
    <ion-item button (click)="goTo('imei')" detail>
      <ion-icon name="medical-outline" slot="start"></ion-icon>
      <ion-label>Reset IMEI</ion-label>
    </ion-item>


    <!-- <ion-item button (click)="goTo('redeem-status')" detail>
      <ion-icon name="bag-check-outline" slot="start"></ion-icon>
      <ion-label>Status Redeem</ion-label>
    </ion-item> -->
    <ion-item (click)="logout()">
      <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
      <ion-label color="danger">Keluar</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
