<ion-header>  
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataitem">
  <div style="text-align:center; margin:3% 20%;">
    <img src={{dataitem.images[0].full}} style="display:block; width:100%; border-radius: 10px;">
  </div>

  <div class="bar-top">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="item-name">
          {{dataitem.product.name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="item-left">
            <div class="bartop-title">Poin Untuk Redeem</div>
            <div class="bartop-sub">{{poin|number}}</div>
        </ion-col>
        <ion-col size="6" class="item-right">
            <div class="bartop-title">Poin Anda</div>
            <div class="bartop-sub">{{balance.remain_point_redeem|number}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="item-footer">
          <span>Poin Anda cukup untuk melakukan redeem</span>
          <!-- <span *ngIf="balance.remain_point_redeem < item.point">oops.. poin Anda belum cukup, kurang {{item.point-balance.remain_point_redeem | number}} poin lagi.<br>Yuk belanja terus..</span> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="desk ion-padding">
    <h4 class="redeem-header">Keterangan</h4>
    <!-- <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took 
      a galley of type and scrambled it to make a type specimen book.
    </p> -->
    <p [innerHTML]="dataitem.description"></p>
    <!-- <p [innerHTML]="item.gift_desc"></p>
    <hr>
    <p [innerHTML]="item.gift_note"></p> -->
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button *ngIf="balance.remain_point_redeem >= poin" expand="block"  (click)="tukarpoint()" color="primary">Redeem Sekarang</ion-button>
  <ion-button *ngIf="balance.remain_point_redeem < poin" expand="block" disabled="true" color="primary">Poin Belum Cukup</ion-button>
</ion-footer>
