<ion-header>
  <ion-toolbar color="unilever" class="head">
    <ion-buttons slot="start">
      <ion-back-button text="" color="light" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Perubahan Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Untuk melakukan Perubahan Password aplikasi Juragan,
klik tombol dibawah ini dan Kami akan mengirimkan 
email petunjuk pada email tersebut
  </p>
  <ion-button color="unilever" expand="block" (click)="resetpasswords()">
    Ya, Lanjutkan
  </ion-button>
</ion-content>