ion-content {
    --padding-top: 0%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url('../../assets/image_new/bg_blue2.png') 0 0/100% 100% no-repeat;
}
 
// .input-group {
//     background: #fff;
//     border-radius: 10px;
//     overflow: hidden;
//     margin-bottom: 15px;
// }
 
// .errors {
//     font-size: small;
//     color: #fff;
//     background: var(--ion-color-danger);
//     padding-left: 15px;
//     padding-top: 5px;
//     padding-bottom: 5px;
// }
// PRODUCTION
// ion-content {
//     --background: rgb(61,92,255);
//     --background: linear-gradient(0deg, rgba(61,92,255,1) 0%, rgba(26,201,251,1) 100%);
// }
// MIRROR

// ion-content {
//     --background: rgb(123, 123, 126);
//     --background: linear-gradient(0deg, rgb(163, 163, 165) 0%, rgb(73, 75, 75) 100%);
// }

.logo {
    width: 100%;
    margin-top: 30%;
    text-align: center;
}
.img-logo {
    width: 95%;
    
}
.img-wa{
    width: 100%;
}
.paddingbottom{
  
}