ion-tab-bar {
  bottom: 20px;
  position: relative;
  border-radius: 13px;
  width: 92%;
  margin: 0 auto;
  border: 0px;
}

ion-tab-button {
  --color: #B8B8D2;
  --color-selected: #3D5CFF !important;
  padding-bottom: 5px;
  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: #3D5CFF !important;
  }
}

ion-tab-bar, ion-tab-button{
  background-color: #f8f8fc;
}



   