.q {
    display: block;
    font-size: .9em;
    font-weight: 500;
    color: #3D5CFF;
}

.a {
    display: block;
    font-size: .8em;
}

.rows {
    margin-bottom: 10px;
    // border-bottom: 1px solid #e0e0e0;
}