<ion-header>
  <ion-toolbar color="unilever">
    <ion-title>Daftar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col style="font-size: .8em; text-align: center;">
        Hi Juragan, untuk pendaftaran di aplikasi Juragan, Anda membutuhkan Kode Outlet Toko Anda,<br>
        Kode Outlet bisa Anda tanyakan kepada sales distributor Unilever Anda.<br>
        Pastikan sudah menginformasikan alamat email untuk dihubungkan dengan Kode Outlet Anda.
        <br><br>
        Isi Kode Outlet pada input dibawah dan klik Daftar, kami akan mengirimkan password ke Email yang terdaftar berdasarkan Kode Outlet tersebut,<br>silahkan ganti password setelah Anda berhasil login.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="input-group">
          <ion-item lines="none">
            <ion-input inputmode="num" placeholder="Kode Outlet" autocomplete="off" [(ngModel)]="outlet_id" clear-input="true"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="button" color="unilever" expand="block" (click)="daftar()" [disabled]="!outlet_id">Daftar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>