.form-title {
    font-size:.7em;
    font-weight: bold;
    display: block; 
    color: #444;
}

.form-text {
    font-size:.8em;
    display: block; 
}

.form-row {
    border-bottom: 1px solid #e0e0e0;
}